<div class="row mb-20">
  <div class="col-lg-12">
    <div class="d-flex align-items-end">
      <div class="d-flex flex-column filter-column mb-12">
        <label for="inputChallengeTypes" class="common-style mb-5">
          <b>FILTER BY CHALLENGE TYPE</b>
        </label>
        <div class="select">
          <select name="inputChallengeTypes" id="inputChallengeTypes">
            <option selected disabled>View All Challenges</option>
            <option value="1">Pure CSS</option>
            <option value="2">No JS</option>
            <option value="3">Nice!</option>
          </select>
        </div>
      </div>
      <div class="d-flex flex-column filter-column mb-12">
        <label for="inputChallengeTypes" class="common-style mb-5">
          <b>FILTER BY GAME</b>
        </label>
        <div class="select">
          <select name="inputChallengeTypes" id="inputChallengeTypes">
            <option selected disabled>VIEW ALL GAMES</option>
            <option value="1">Pure CSS</option>
            <option value="2">No JS</option>
            <option value="3">Nice!</option>
          </select>
        </div>
      </div>
      <div class="d-flex flex-column filter-column mb-12">
        <label for="inputChallengeTypes" class="common-style mb-5">
          <b>FILTER BY Game mode</b>
        </label>
        <div class="select">
          <select name="inputChallengeTypes" id="inputChallengeTypes">
            <option selected disabled>VIEW ALL GAMES</option>
            <option value="1">Pure CSS</option>
            <option value="2">No JS</option>
            <option value="3">Nice!</option>
          </select>
        </div>
      </div>
      <div class="d-flex flex-column filter-column mb-12">
        <label for="inputChallengeTypes" class="common-style mb-5">
          <b>FILTER BY STATUS</b>
        </label>
        <div class="select">
          <select name="inputChallengeTypes" id="inputChallengeTypes">
            <option selected disabled>CHALLENGES ON GOING</option>
            <option value="1">Pure CSS</option>
            <option value="2">No JS</option>
            <option value="3">Nice!</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
