<div class="d-flex flex-column myChallenges-top__spaces">
  <div class="d-flex align-items-center justify-content-between">
    <div class="myChallenges-top d-flex align-items-center">
      <div class="myChallenges-name">
        LAST GAME
      </div>
      <div class="myChallenges-name__game">
        1st <span>month FASTEST KILL</span>
      </div>
    </div>
    <div class="arrow-fold">
      <svg width="14px" height="7px">
        <use xlink:href="#icon-arrow-fold"></use>
      </svg>
    </div>
  </div>
  <div class="app-myChallenges__body d-flex w-100">
    <div class="col-1-3">
      <div class="d-flex align-items-center">
        <div class="right-side text-center">
          Time
        </div>
        <div class="left-side text-center">
          00:30:07
        </div>
      </div>
    </div>
    <div class="col-1-3">
      <div class="d-flex align-items-center">
        <div class="right-side text-center">
          Kills
        </div>
        <div class="left-side text-center">
          50
        </div>
      </div>
    </div>
    <div class="col-1-3">
      <div class="d-flex align-items-center">
        <div class="right-side text-center">
          Distance
        </div>
        <div class="left-side text-center">
          4321
        </div>
      </div>
    </div>
  </div>
</div>
<div class="d-flex static-info flex-column">

  <div class="row activeChallenges-row align-items-center orange mx-0">
    <div class="col-1-2 px-0">
      <div class="d-flex flex-sm-row flex-column align-items-sm-center justify-content-sm-between w-100">
        <div class="d-flex align-items-sm-center">
          <div class="active-place common-style">
            40º
          </div>
          <div class="d-flex flex-column activeChallenges-item">
            <div class="active-name common-style">
              1st <span>MONTH FASTEST KILL</span>
            </div>
            <div class="challenge-tags__item">
              #MAX KILLS
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-1-2 px-0">
      <div class="d-flex align-items-center flex-wrap justify-content-end">
        <div class="activeChallenges-result common-style">
          <div class="activeChallenges-result__title">
            Kills
          </div>
          <div class="activeChallenges-result__numb">
            14
          </div>
        </div>
        <div class="activeChallenges-left mr-48 common-style">
          <div class="activeChallenges-result__title">
            Time Left
          </div>
          <div class="challenge-time__line">
            <div class="challenge-time__line-amount" style="width: 35%"></div>
          </div>
          <div class="commonStyle">
            11D 11:00:50
          </div>
        </div>
        <div class="activeChallenges-left">
          <div class="activeChallenges-result__title common-style">
            Rewards
          </div>
          <div class="challenge-time__line">
            <div class="challenge-time__line-amount" style="width: 35%"></div>
          </div>
          <div class="activeChallenges-left__result">
            <svg width="13px" height="12px">
              <use xlink:href="#icon-orange-coins"></use>
            </svg>
            100 / 5000
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row activeChallenges-row align-items-center yellow mx-0">
    <div class="col-1-2 px-0">
      <div class="d-flex flex-sm-row flex-column align-items-sm-center justify-content-sm-between w-100">
        <div class="d-flex align-items-sm-center">
          <div class="active-place common-style">
            40º
          </div>
          <div class="d-flex flex-column activeChallenges-item">
            <div class="active-name common-style">
              1st <span>MONTH FASTEST KILL</span>
            </div>
            <div class="challenge-tags__item">
              #MAX KILLS
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-1-2 px-0">
      <div class="d-flex align-items-center flex-wrap justify-content-end">
        <div class="activeChallenges-result common-style">
          <div class="activeChallenges-result__title">
            Kills
          </div>
          <div class="activeChallenges-result__numb">
            14
          </div>
        </div>
        <div class="activeChallenges-left mr-48 common-style">
          <div class="activeChallenges-result__title">
            Time Left
          </div>
          <div class="challenge-time__line">
            <div class="challenge-time__line-amount" style="width: 35%"></div>
          </div>
          <div class="commonStyle">
            11D 11:00:50
          </div>
        </div>
        <div class="activeChallenges-left">
          <div class="activeChallenges-result__title common-style">
            Rewards
          </div>
          <div class="challenge-time__line">
            <div class="challenge-time__line-amount" style="width: 35%"></div>
          </div>
          <div class="activeChallenges-left__result">
            <svg width="13px" height="12px">
              <use xlink:href="#icon-yellow-coins"></use>
            </svg>
            100 / 5000
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row activeChallenges-row align-items-center grey mx-0">
    <div class="col-1-2 px-0">
      <div class="d-flex flex-sm-row flex-column align-items-sm-center justify-content-sm-between w-100">
        <div class="d-flex align-items-sm-center">
          <div class="active-place common-style">
            40º
          </div>
          <div class="d-flex flex-column activeChallenges-item">
            <div class="active-name common-style">
              1st <span>MONTH FASTEST KILL</span>
            </div>
            <div class="challenge-tags__item">
              #MAX KILLS
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-1-2 px-0">
      <div class="d-flex align-items-center flex-wrap justify-content-end">
        <div class="activeChallenges-result common-style">
          <div class="activeChallenges-result__title">
            Kills
          </div>
          <div class="activeChallenges-result__numb">
            14
          </div>
        </div>
        <div class="activeChallenges-left mr-48 common-style">
          <div class="activeChallenges-result__title">
            Time Left
          </div>
          <div class="challenge-time__line">
            <div class="challenge-time__line-amount" style="width: 35%"></div>
          </div>
          <div class="commonStyle">
            11D 11:00:50
          </div>
        </div>
        <div class="activeChallenges-left">
          <div class="activeChallenges-result__title common-style">
            Rewards
          </div>
          <div class="challenge-time__line">
            <div class="challenge-time__line-amount" style="width: 35%"></div>
          </div>
          <div class="activeChallenges-left__result">
            <svg width="13px" height="12px">
              <use xlink:href="#icon-grey-coins"></use>
            </svg>
            100 / 5000
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row activeChallenges-row align-items-center orange mx-0">
    <div class="col-1-2 px-0">
      <div class="d-flex flex-sm-row flex-column align-items-sm-center justify-content-sm-between w-100">
        <div class="d-flex align-items-sm-center">
          <div class="active-place common-style">
            40º
          </div>
          <div class="d-flex flex-column activeChallenges-item">
            <div class="active-name common-style">
              1st <span>MONTH FASTEST KILL</span>
            </div>
            <div class="challenge-tags__item">
              #MAX KILLS
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-1-2 px-0">
      <div class="d-flex align-items-center flex-wrap justify-content-end">
        <div class="activeChallenges-result common-style">
          <div class="activeChallenges-result__title">
            Kills
          </div>
          <div class="activeChallenges-result__numb">
            14
          </div>
        </div>
        <div class="activeChallenges-left mr-48 common-style">
          <div class="activeChallenges-result__title">
            Time Left
          </div>
          <div class="challenge-time__line">
            <div class="challenge-time__line-amount" style="width: 35%"></div>
          </div>
          <div class="commonStyle">
            11D 11:00:50
          </div>
        </div>
        <div class="activeChallenges-left">
          <div class="activeChallenges-result__title common-style">
            Rewards
          </div>
          <div class="challenge-time__line">
            <div class="challenge-time__line-amount" style="width: 35%"></div>
          </div>
          <div class="activeChallenges-left__result">
            <svg width="13px" height="12px">
              <use xlink:href="#icon-orange-coins"></use>
            </svg>
            100 / 5000
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
