<div class="d-flex flex-column h-100">
  <div class="d-flex align-items-center justify-content-between w-100 app-top">
    <div class="d-flex align-items-center justify-content-start text-center topBar-items">
      <a href="javascript:void(0)" class="topBar-items__each active">Notifications</a>
      <a href="javascript:void(0)" class="topBar-items__each">OVERLAY SETTINGS</a>
    </div>
    <div class="d-flex justify-content-end align-items-end top-btns">
      <div class="fold-btn d-flex h-100">
        <svg width="16px" height="2px">
          <use xlink:href="#icon-fold"></use>
        </svg>
      </div>
      <div class="close-btn d-flex">
        <svg width="16px" height="16px">
          <use xlink:href="#icon-close"></use>
        </svg>
      </div>
    </div>
  </div>
  <div class="notif-body">
    <div class="d-flex align-items-center notif-row justify-content-between">
      <div class="notif-row__title">
        NOTIFICATIONS IN-GAME
      </div>
      <div class="notif-toggle">
        <div class="notif-toggle__none">
          BLOCK
        </div>
        <div class="notif-toggle__yes">
          ALLOW
        </div>
      </div>
    </div>
    <div class="notif-body__edit d-flex align-items-center justify-content-between">
      <div class="notif-body__edit-left">
        EDIT NOTIFICATIONS
      </div>
      <div class="notif-body__edit-right">
        SELECT ALL
      </div>
    </div>
    <div class="notif-body__edit d-flex align-items-center justify-content-between">
      <div class="notif-body__edit-left">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </div>
      <div class="notif-body__edit-right">
        <div class="form-check">
          <div class="checkbox__wrap">
            <input class="checkbox__input" id="signIn" name="rememberMe" type="checkbox">
            <label for="signIn" class="checkbox__label">
              <div class="checkbox__faces">
                <div class="checkbox__icon">
                  <i class="icon ">
                    <svg>
                      <use xlink:href="#icon-check"></use>
                    </svg>
                  </i>
                </div>
              </div>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="notif-body__edit d-flex align-items-center justify-content-between">
      <div class="notif-body__edit-left">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </div>
      <div class="notif-body__edit-right">
        <div class="form-check">
          <div class="checkbox__wrap">
            <input class="checkbox__input" id="signIn-2" name="rememberMe" type="checkbox">
            <label for="signIn-2" class="checkbox__label">
              <div class="checkbox__faces">
                <div class="checkbox__icon">
                  <i class="icon ">
                    <svg>
                      <use xlink:href="#icon-check"></use>
                    </svg>
                  </i>
                </div>
              </div>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="notif-body__edit d-flex align-items-center justify-content-between">
      <div class="notif-body__edit-left">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </div>
      <div class="notif-body__edit-right">
        <div class="form-check">
          <div class="checkbox__wrap">
            <input class="checkbox__input" id="signIn-3" name="rememberMe" type="checkbox">
            <label for="signIn-3" class="checkbox__label">
              <div class="checkbox__faces">
                <div class="checkbox__icon">
                  <i class="icon ">
                    <svg>
                      <use xlink:href="#icon-check"></use>
                    </svg>
                  </i>
                </div>
              </div>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="notif-body__edit d-flex align-items-center justify-content-between">
      <div class="notif-body__edit-left">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </div>
      <div class="notif-body__edit-right">
        <div class="form-check">
          <div class="checkbox__wrap">
            <input class="checkbox__input" id="signIn-4" name="rememberMe" type="checkbox">
            <label for="signIn-4" class="checkbox__label">
              <div class="checkbox__faces">
                <div class="checkbox__icon">
                  <i class="icon ">
                    <svg>
                      <use xlink:href="#icon-check"></use>
                    </svg>
                  </i>
                </div>
              </div>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
