<section class="topBar">
  <div class="container-fluid">
    <div class="row">
      <div class="topBar-row">
        <div class="topBar-items">
          <a href="#" class="topBar-items__each active">How it works</a>
          <a href="#" class="topBar-items__each">Support games</a>
        </div>
        <div class="topBar-left">
          <div class="topBar-info">
            <a href="#" class="topBar-info__item">
              <svg width="20px" height="16px">
                <use xlink:href="#icon-mail"></use>
              </svg>
            </a>
            <a href="#" class="topBar-info__item">
              <svg width="15px" height="18px">
                <use xlink:href="#icon-notif"></use>
              </svg>
            </a>
          </div>
          <div class="client d-flex flex-column">
            <div class="d-flex align-items-center h-100">
              <div class="client-img">
                <img src="./images/client.png" alt="#">
              </div>
              <div class="client-info">
                <div class="client-info__name">
                  ADAM HUGHES
                </div>
                <div class="client-info__coins">
                  <svg width="13px" height="13px">
                    <use xlink:href="#icon-yellow-coins"></use>
                  </svg>
                  <span class="yellow">
                    2 290 UC
                  </span>
                  YOUR COINS
                </div>
              </div>
              <div class="arrow-down">
                <svg width="14px" height="7px">
                  <use xlink:href="#icon-arrow-down"></use>
                </svg>
              </div>
            </div>
            <div class="flex-column part-menu">
              <a href="#" class="d-flex align-items-center justify-content-between part-menu__item">
                <div class="common-style">
                  PROFILE
                </div>
                <svg width="16px" height="14px">
                  <use xlink:href="#icon-carousel-arrow-right"></use>
                </svg>
              </a>
              <a href="#" class="d-flex align-items-center justify-content-between part-menu__item">
                <div class="common-style">
                  Settings
                </div>
                <svg width="16px" height="14px">
                  <use xlink:href="#icon-carousel-arrow-right"></use>
                </svg>
              </a>
              <a href="#" class="part-menu__item btn-grey common-style text-center">LOGOUT</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bottomBar">
  <div class="bottomBar-bg">

  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="bottomBar-menu">
          <a href="#" class="bottomBar-menu__item active">All challenges</a>
          <a href="#" class="bottomBar-menu__item">My challenges</a>
          <a href="#" class="bottomBar-menu__item">Weekly challenges</a>
        </div>
      </div>
    </div>
  </div>
</section>
