<div class="row">
  <div class="col-lg-12 mb-42">
    <div class="d-flex flex-column justify-content-end h-100">
      <div class="common-style mb-3">
        <b>LEADERBOARDS</b>
      </div>
      <div class="common-style _text">
        <p>The weekly leaderboards have no entry fee but still offer reward.</p>
        <p>Keep the client running while you play your games to join the leaderboard automatically.</p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-4 mb-26">
    <div class="d-flex align-items-end">
      <div class="d-flex flex-column mr-35">
        <label for="inputChallengeTypes" class="common-style mb-5">
          <b>FILTER BY CHALLENGE TYPE</b>
        </label>
        <div class="select">
          <select name="inputChallengeTypes" id="inputChallengeTypes">
            <option selected disabled>View All Challenges</option>
            <option value="1">Pure CSS</option>
            <option value="2">No JS</option>
            <option value="3">Nice!</option>
          </select>
        </div>
      </div>
      <div class="d-flex flex-column mr-35">
        <label for="inputChallengeTypes" class="common-style mb-5">
          <b>FILTER BY GAME</b>
        </label>
        <div class="select">
          <select name="inputChallengeTypes" id="inputChallengeTypes">
            <option selected disabled>VIEW ALL GAMES</option>
            <option value="1">Pure CSS</option>
            <option value="2">No JS</option>
            <option value="3">Nice!</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-8 mb-26">
    <div class="d-flex align-items-end h-100">
      <div class="ml-auto d-flex align-items-end">
        <div class="bts d-flex align-items-end">
          <div class="active previous carousel-arrow">
            <svg width="16px" height="14px">
              <use xlink:href="#icon-carousel-arrow-left"></use>
            </svg>
          </div>
          <div class="next carousel-arrow">
            <svg width="16px" height="14px">
              <use xlink:href="#icon-carousel-arrow-right"></use>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
