.carousel {
  padding: 60px 40px 40px 40px;

  @media(max-width: 576px) {
    padding-left: 10px;
    padding-right: 10px;
  }

  .btn {
    margin-left: 15px;
    @media(max-width: 575px) {
      margin-left: 0px;
      margin-top: 12px;
    }
  }
}

.challenge-slider {
  .col {
    margin-bottom: 20px;
    padding-top: 56px;
  }

  .slick-slide {
    height: auto !important;
  }

  .slick-track {
    height: 100%;
    display: flex;
  }
}

.challenge {
  &-content {
    z-index: 3;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &-amount {
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    margin-left: auto;
    text-align: center;

    &__numb {
      font-size: 12px;
      font-weight: bold;
      line-height: 1.67;
      color: #ff8003;
    }

    &__text {
      font-size: 10px;
      line-height: 1.6;
      color: #ffffff;
      text-transform: uppercase;
    }
  }

  &-img {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    width: auto;
    height: 45px;
    object-fit: contain;
    margin-bottom: 4px;

    @media(max-width: 576px) {
      margin-bottom: 16px;
    }
  }

  &-name {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #ff8003;
    max-width: 264px;
    width: 100%;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;

    @media(max-width: 576px) {
      font-size: 26px;
    }

    span {
      text-transform: uppercase;
    }
  }
}

.challenge-time {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;

  &__field-name {
    font-size: 12px;
    line-height: 1.67;
    color: #ffffff;
    margin-bottom: 10px;
  }

  &__line {
    max-width: 220px;
    height: 6px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-radius: 10.5px;
    box-shadow: 0 0 2px 0 rgba(192, 192, 192, 0.5), inset 0 1px 6px 0 rgba(192, 192, 192, 0.36);
    background-color: #201e2b;
    margin-bottom: 14px;
    position: relative;
    z-index: 1;

    &-amount {
      border-radius: 10.5px;
      background-image: linear-gradient(to right, rgba(202, 153, 44, 0) 0%, #ff9800 100%);
      height: 100%;
      position: absolute;
      z-index: 2;
      content: '';
      top: 0px;
      left: 0px;
    }
  }

  &__timer {
    &-item {
      border-radius: 4px;
      background-color: rgba(255, 255, 255, 0.05);
      padding: 3px 4px;
      font-size: 12px;
      line-height: 1.67;
      color: #ffffff;
      margin: 0px 3px;
    }
  }
}

.challenge-tags {
  &__item {
    margin: 0px 5px 10px 5px;
    padding: 2px 10px;
    border-radius: 2px;
    background-color: #777777;
    font-size: 10px;
    line-height: 1.6;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
  }
}

.challenge-btns {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  &.registred {
    margin-top: auto;

    .btn {
      background-color: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      border: solid 1px #f5bb0c;
      max-width: 294px;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      color: #f5bb0c;

      img {
        width: 24px;
        height: 25px;
      }

      span {
        display: flex;
        margin-left: 11px;
      }
    }
  }

  @media(max-width: 1932px) {
    flex-direction: column;

    .btn {
      max-width: 294px;
      width: 100%;
    }
  }

  &__coins {
    display: flex;
    height: 100%;
    padding: 10px 16px 10px 20px;
    margin-right: -4px;
    z-index: 1;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.57;
    color: #ffffff;
    border-radius: 4px;
    border: solid 1px #f5bb0c;

    @media(max-width: 1932px) {
      padding: 10px 20px;
      margin-bottom: 20px;
      margin-right: 0px;
      max-width: 294px;
      width: 100%;
      justify-content: center;
      text-align: center;
    }

    svg {
      margin-right: 14px;
    }
  }

  .btn {
    z-index: 2;
    position: relative;
    margin-left: 0px;
  }
}
