<section class="ended">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6">
        <div class="ended-timer d-flex flex-column">
          <div class="ended-timer__inside">
            <div class="challenge-time">
              <div class="challenge-time__field-name">
                CHALLENGE HAS ended
              </div>
              <div class="challenge-time__line">
                <div class="challenge-time__line-amount" style="width: 35%"></div>
              </div>
              <div class="challenge-time__timer d-flex">
                <div class="challenge-time__timer-item">
                  <b>11</b> D
                </div>
                <div class="challenge-time__timer-item">
                  <b>09</b> H
                </div>
                <div class="challenge-time__timer-item">
                  <b>26</b> M
                </div>
                <div class="challenge-time__timer-item">
                  <b>15</b> S
                </div>
              </div>
            </div>
            <div class="ended-participants">
              <div class="row">
                <div class="col-lg-6">
                  <div class="ended-participants__item d-flex text-center flex-column white">
                    Participants
                    <span>125</span>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="ended-participants__item d-flex text-center flex-column yellow">
                    Your position
                    <span>55</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ended-reward d-flex flex-column">
          <div class="ended-reward__row d-flex align-items-center justify-content-between">
            <div class="ended-reward__column">
              REWARD
            </div>
            <div class="ended-reward__column">
            </div>
          </div>
          <div class="ended-reward__row d-flex align-items-center justify-content-between">
            <div class="ended-reward__column">
              1ST PLACE
            </div>
            <div class="ended-reward__column">
              7 000€
            </div>
          </div>
          <div class="ended-reward__row d-flex align-items-center justify-content-between">
            <div class="ended-reward__column">
              2ST PLACE
            </div>
            <div class="ended-reward__column">
              3 000€
            </div>
          </div>
          <div class="ended-reward__row d-flex align-items-center justify-content-between">
            <div class="ended-reward__column">
              3ST PLACE
            </div>
            <div class="ended-reward__column">
              2 000€
            </div>
          </div>
          <div class="ended-reward__row d-flex align-items-center justify-content-between">
            <div class="ended-reward__column">
              4ST - 30ST PLACE
            </div>
            <div class="ended-reward__column">
              500€
            </div>
          </div>
          <div class="ended-reward__row d-flex align-items-center justify-content-between">
            <div class="ended-reward__column">
              31ST - 125ST PLACE
            </div>
            <div class="ended-reward__column">
              2€
            </div>
          </div>
          <div class="ended-reward__row d-flex align-items-center justify-content-between">
            <div class="ended-reward__column">
              Others
            </div>
            <div class="ended-reward__column">
              0,50€
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="ended-block d-flex flex-column">
          <div class="ended-places__row w-100 d-flex">
            <div class="ended-places__column grey">
              <div class="ended-places__award">
                2
              </div>
              <div class="ended-places__body">
                <div class="ended-places__body-img">
                  <img src="./images/prize-img.png" alt="#">
                </div>
                <div class="ended-places__body-price">
                  <div class="ended-places__amount">
                    3 000€
                  </div>
                  <div class="ended-places__prize">
                    PRIZE
                  </div>
                  <div class="ended-places__name">
                    Roy Bowers
                  </div>
                  <div class="ended-places__info">
                    KILLS : 40
                  </div>
                </div>
              </div>

            </div>
            <div class="ended-places__column yellow">
              <div class="ended-places__award">
                1
              </div>
              <div class="ended-places__body">
                <div class="ended-places__body-img">
                  <img src="./images/prize-img.png" alt="#">
                </div>
                <div class="ended-places__body-price">
                  <div class="ended-places__amount">
                    <svg width="47px" height="45px">
                      <use xlink:href="#icon-yellow-coins"></use>
                    </svg>
                    <span>7 000€</span>
                  </div>
                  <div class="ended-places__prize">
                    PRIZE
                  </div>
                  <div class="ended-places__name">
                    Roy Bowers
                  </div>
                  <div class="ended-places__info">
                    KILLS : 40
                  </div>
                </div>
              </div>
            </div>
            <div class="ended-places__column orange">
              <div class="ended-places__award">
                3
              </div>
              <div class="ended-places__body">
                <div class="ended-places__body-img">
                  <img src="./images/prize-img.png" alt="#">
                </div>
                <div class="ended-places__body-price">
                  <div class="ended-places__amount">
                    2 000€
                  </div>
                  <div class="ended-places__prize">
                    PRIZE
                  </div>
                  <div class="ended-places__name">
                    Roy Bowers
                  </div>
                  <div class="ended-places__info">
                    KILLS : 40
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
