<div class="app-left">

  <div class="app-logo">
    <img src="./images/app-logo.svg" alt="#">
  </div>

  <div class="nav w-100 h-100 flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <a class="nav-link" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
      aria-controls="v-pills-home" aria-selected="false">
      <span>
        <svg width="38px" height="30px">
          <use xlink:href="#icon-app-svg-1"></use>
        </svg>
      </span>
      My Challenges
    </a>
    <a class="nav-link active" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
      aria-controls="v-pills-profile" aria-selected="true">
      <span>
        <svg width="28px" height="41px">
          <use xlink:href="#icon-app-svg-2"></use>
        </svg>
      </span>
      Join Challenges</a>
    <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab"
      aria-controls="v-pills-messages" aria-selected="false">
      <span>
        <svg width="33px" height="34px">
          <use xlink:href="#icon-app-svg-3"></use>
        </svg>
      </span>
      Settings</a>

    <a class="nav-link mt-auto" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab"
      aria-controls="v-pills-settings" aria-selected="false">

      <div class="client-img">
        <img src="./images/client.png" alt="#">
      </div>

      <div class="d-flex yellow align-items-center justify-content-center">
        <svg width="13px" height="13px">
          <use xlink:href="#icon-yellow-coins"></use>
        </svg>
        2 290 UC
      </div>
      <span class="link-name">
        Your coins
      </span>

      <div class="dots">
        <svg width="18px" height="4px">
          <use xlink:href="#icon-dots"></use>
        </svg>
      </div>
    </a>
  </div>

</div>
