<div class="row">
  <div class="col-lg-4 col-md-4">
    <div class="d-flex align-items-end h-100">
      <div class="common-style">
        <b>New challenges</b>
      </div>
    </div>
  </div>
  <div class="col-lg-8 col-md-8">
    <div class="d-flex">
      <div class="ml-sm-auto d-flex flex-sm-row flex-column align-items-sm-end h-100">
        <div class="bts d-flex align-items-end">
          <div class="active previous carousel-arrow">
            <svg width="16px" height="14px">
              <use xlink:href="#icon-carousel-arrow-left"></use>
            </svg>
          </div>
          <div class="next carousel-arrow">
            <svg width="16px" height="14px">
              <use xlink:href="#icon-carousel-arrow-right"></use>
            </svg>
          </div>
        </div>
        <a href="#" class="btn _transparent">View All Challenges</a>
      </div>
    </div>

  </div>
</div>
