<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/components/login/login.css">
</head>

<body>

  <section class="login">
    <div class="container">
      <div class="row login-bg">
        <div class="col-lg-6 pr-0">

        </div>
        <div class="col-lg-6 pl-0">
          <div class="login-block">
            <div class="d-flex justify-content-center flex-column text-center">
              <div class="title">
                Welcome back!
              </div>
              <div class="pre-title">
                Continue your Challenge
              </div>
            </div>
            <form action="#" class="login-form">
              <div class="form-elem">
                <label for="email" class="form-elem__label">
                  <svg>
                    <use xlink:href="#icon-mail"></use>
                  </svg>
                </label>
                <input type="email" id="email" class="form-elem__input" placeholder="Email">
              </div>
              <div class="form-elem">
                <label for="password" class="form-elem__label">
                  <svg>
                    <use xlink:href="#icon-mail"></use>
                  </svg>
                </label>
                <input type="password" id="password" class="form-elem__input" placeholder="Password">
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </section>

  <script src="/js/main.js"></script>

</body>

</html>
