.breadcrumbs {
  margin: 32px 40px 0px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  padding-bottom: 28px;
  &-title {
    margin-top: 20px;
    font-size: 25px;
    b {
      margin-right: 10px;
    }
  }
}

.return-text {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.57;
  color: #c0c0c0;
  margin-left: 15px;
  text-transform: uppercase;
}
