<section class="breadcrumbs">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-8">
        <div class="d-flex flex-column">
          <a href="#" class="return d-flex align-items-center">
            <svg width="15px" height="13px">
              <use xlink:href="#icon-arrow-back"></use>
            </svg>
            <span class="return-text">View all challenges</span>
          </a>
          <div class="breadcrumbs-title">
            <b>CHALLENGES</b> APEX LEGENDS
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="breadcrumbs-logo d-flex align-items-center justify-content-end">
          <img src="./images/apex-logo.svg" alt="APEX logo">
        </div>
      </div>
    </div>
  </div>
</section>
