@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Black'), url('../fonts/Montserrat-Black.ttf') format('truetype');
    font-display: swap;
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Bold'), url('../fonts/Montserrat-Bold.ttf') format('truetype');
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat ExtraBold'), url('../fonts/Montserrat-ExtraBold.ttf') format('truetype');
    font-display: swap;
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat ExtraLight'), url('../fonts/Montserrat-ExtraLight.ttf') format('truetype');
    font-display: swap;
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Light'), url('../fonts/Montserrat-Light.ttf') format('truetype');
    font-display: swap;
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Medium'), url('../fonts/Montserrat-Medium.ttf') format('truetype');
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Regular'), url('../fonts/Montserrat-Regular.ttf') format('truetype');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat SemiBold'), url('../fonts/Montserrat-SemiBold.ttf') format('truetype');
    font-display: swap;
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Thin'), url('../fonts/Montserrat-Thin.ttf') format('truetype');
    font-display: swap;
    font-weight: 100;
    font-style: normal;
}

body {
    font-family: 'Montserrat';
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
}

.pages-list {
    h1 {
        color: #f5bb0c;
    }

    a {
        color: #333;

        &:hover {
            color: #333;
        }
    }
}

:focus {
    outline: none !important;
}

.page {
    background-color: #030616;
    overflow: hidden;

    &-bg {
        background-image: radial-gradient(circle at 51% 43%, rgba(3, 6, 22, 0), rgba(245, 187, 12, 0.25) 122%);
        position: relative;
        background-color: #030616;
        min-height: 100vh;
        height: 100%;

        &:after {
            content: "";
            position: absolute;
            background-image: url('../images/login-bg.svg');
            background-size: contain;
            background-repeat: no-repeat;
            top: 185px;
            left: 0px;
            width: 357px;
            height: 895px;
            z-index: 2;
        }

        section {
            z-index: 3;
            position: relative;
        }
    }
}

a:hover {
    color: inherit;
    text-decoration: none;
}

.common-style {
    font-size: 14px;
    line-height: 1.57;
    color: #ffffff;
    text-transform: uppercase;

    &._text {
        text-transform: none;

        p {
            margin-bottom: 0px;
        }
    }
}

:focus {
    outline: none !important;
}

.btn {
    text-transform: uppercase;
    background-color: #f5bb0c;
    padding: 10px 20px;
    border-radius: 4px;
    font-weight: bold;
    color: #fff;
    font-size: 14px;
    line-height: 1.57;
    transition: all 0.35s;

    &._transparent {
        background-color: transparent;
        border: solid 1px rgba(255, 255, 255, 0.25);

        &:hover {
            border-color: #E0A929;
        }
    }

    &:hover {
        background-color: #E0A929;
        color: #fff;
    }

    &._bg-btn {
        background-color: #201e2b;

        &:hover {
            background-color: #E0A929;
            color: #fff;
        }
    }
}

.page-right {
    width: calc(100% - 280px);
    display: flex;
    flex-direction: column;
}

.carousel-arrow {
    border-radius: 4px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.25);
    margin: 0px 5px;
    transition: all 0.35s;
    cursor: pointer;

    &.slick-disabled {
        opacity: 0.2;
    }

    &:hover {
        opacity: 1;
        background-color: rgba(255, 255, 255, 0.25);
    }
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-3 {
    margin-bottom: 3px !important;
}

.mb-42 {
    margin-bottom: 42px;
}

.mb-5 {
    margin-bottom: 5px !important;
}

.mb-26 {
    margin-bottom: 26px;
}

.mb-12 {
    margin-bottom: 12px;
}

.form-control:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: #f5bb0c;
    background-color: #f5bb0c;
    color: #fff;
    font-weight: bold;
}

.mr-35 {
    margin-right: 35px;
}

.mb-22 {
    margin-bottom: 22px;
}

.btn.focus,
.btn:focus {
    box-shadow: none;
}


/* Reset Select */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border-radius: 4px;
    background-color: transparent;
    font-size: 14px;
    line-height: 1.57;
    color: #ffffff;
    text-transform: uppercase;
    background-image: none;
    padding: 10px 40px 10px 20px;
}

/* Remove IE arrow */
select::-ms-expand {
    display: none;
}

/* Custom Select */
.select {
    position: relative;
    display: flex;
    width: 100%;
    height: 42px;
    line-height: 3;
    background: transparent;
    border-radius: 4px;
    border: solid 1px rgba(255, 255, 255, 0.25);
}

select {
    flex: 1;
    color: #fff;
    cursor: pointer;
}

/* Arrow */
.select::after {
    content: url('../../images/select-arrow.svg');
    position: absolute;
    top: 1px;
    right: 8px;
    width: 32px;
    border-radius: 4px;
    background: transparent;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

/* Transition */
.select:hover::after {
    color: #f39c12;
}

.activeChallenges-item {
    margin-left: 26px;
    justify-content: center;

    .active-name {
        font-weight: bold;
        color: #ff8003;
        margin-bottom: 3px;
    }

    .challenge-tags__item {
        margin-left: 0px;
        max-width: fit-content;
        margin-bottom: 0px;
    }
}


.challenge-tags {
    &__item {
        margin: 0px 5px 10px 5px;
        padding: 2px 10px;
        border-radius: 2px;
        background-color: #777777;
        font-size: 10px;
        line-height: 1.6;
        text-align: center;
        color: #ffffff;
        text-transform: uppercase;
    }
}

.myChallenges {
    .activeChallenges {
        margin-top: 30px;
    }
}

.challenge-item {
    border-radius: 8px;
    background-color: #fff;
    position: relative;
    cursor: pointer;
    border-image-source: linear-gradient(to top, #201e3b, #c0c0c0);
    border-image-slice: 1;
    background-image: linear-gradient(to bottom, #201e2b, #201e2b), linear-gradient(to top, #201e3b, #c0c0c0);
    color: #fff;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;

    &.grey {
        .challenge-amount__numb {
            color: #c0c0c0;
        }

        .challenge-item__award {
            background-image: url('../../images/award-grey.svg');
        }

        .challenge-item__body {
            border-image-source: linear-gradient(to top, #201e3b, #c0c0c0);
            background-image: linear-gradient(to bottom, #201e2b, #201e2b), linear-gradient(to top, #201e3b, #c0c0c0);

            &:hover {
                box-shadow: 0 0 20px 0 rgba(192, 192, 192, 1);
            }
        }
    }

    &.yellow {
        .challenge-amount__numb {
            color: #f5bb0c;
        }

        .challenge-item__award {
            background-image: url('../../images/award-yellow.svg');
        }

        .challenge-item__body {
            border-image-source: linear-gradient(to top, #201e3b, #f5bb0c);
            background-image: linear-gradient(to bottom, #201e2b, #201e2b), linear-gradient(to top, #201e3b, #f5bb0c);

            &:hover {
                box-shadow: 0 0 20px 0 rgba(245, 187, 12, 1);
            }
        }
    }

    &__award {
        background-image: url('../../images/award-orange.svg');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        min-height: 97px;
        display: flex;
        flex-direction: column;
        text-align: center;
        max-width: 110px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 12px;
        position: absolute;
        content: '';
        top: -26px;
        left: calc(50% - 55px);
        z-index: 3;

        .reward {
            font-size: 10px;
            line-height: 1.6;
            color: #ffffff;
            margin-bottom: 0px;
            text-transform: uppercase;
        }

        b {
            font-size: 25px;
            line-height: 1.2;
        }
    }

    &__body {
        border-radius: 8px;
        transition: all 0.35s;
        background-color: #201E2B;
        border-radius: 8px;
        border-style: solid;
        border-width: 3px;
        border-image-source: linear-gradient(to top, #201e3b, #ff8003);
        border-image-slice: 1;
        background-image: linear-gradient(to bottom, #201e2b, #201e2b), linear-gradient(to top, #201e3b, #ff8003);
        background-origin: border-box;
        background-clip: content-box, border-box;
        min-height: 474px;
        height: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 1;

        &-spaces {
            padding: 22px 25px 30px;
            position: relative;
            z-index: 2;
            height: 100%;
            display: flex;
            flex-direction: column;
        }

        &:hover {
            box-shadow: 0 0 20px 0 #ff9800;
            background-color: #000036;
        }

        &-bg {
            height: 349px;
            position: absolute;
            top: -3px;
            left: -3px;
            content: '';
            width: calc(100% + 6px);
            z-index: 2;
            border-radius: 8px;

            @media(max-width: 1932px) {
                height: 360px;
            }

            svg {
                width: 100%;
                height: 100%;
                display: block;
                border-radius: 8px;
            }
        }
    }

    &.grey {
        .challenge-amount__numb {
            color: #c0c0c0;
        }

        .challenge-name {
            color: #c0c0c0;
        }

        .challenge-time__line-amount {
            background-image: linear-gradient(to right, rgba(202, 153, 44, 0) 0%, #c0c0c0 100%);
        }
    }

    &.yellow {
        .challenge-amount__numb {
            color: #f5bb0c;
        }

        .challenge-name {
            color: #f5bb0c;
        }

        .challenge-time__line-amount {
            background-image: linear-gradient(to right, rgba(202, 153, 44, 0) 0%, #f5bb0c 100%);
        }
    }

}

.challenge-time {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;

    &__field-name {
        font-size: 12px;
        line-height: 1.67;
        color: #ffffff;
        margin-bottom: 10px;
        text-transform: uppercase;
    }

    &__line {
        max-width: 220px;
        height: 6px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        border-radius: 10.5px;
        box-shadow: 0 0 2px 0 rgba(192, 192, 192, 0.5), inset 0 1px 6px 0 rgba(192, 192, 192, 0.36);
        background-color: #201e2b;
        margin-bottom: 14px;
        position: relative;
        z-index: 1;

        &-amount {
            border-radius: 10.5px;
            background-image: linear-gradient(to right, rgba(202, 153, 44, 0) 0%, #ff9800 100%);
            height: 100%;
            position: absolute;
            z-index: 2;
            content: '';
            top: 0px;
            left: 0px;
        }
    }

    &__timer {
        &-item {
            border-radius: 4px;
            background-color: rgba(255, 255, 255, 0.05);
            padding: 3px 4px;
            font-size: 12px;
            line-height: 1.67;
            color: #ffffff;
            margin: 0px 3px;
        }
    }
}

.col-2-3 {
    width: calc(100% / 3 * 2);
}

.col-1-3 {
    width: calc(100% / 3 * 1);
}

.weeklyChallenges {
    .leaderBoards .row {
        &:first-child {
            display: none;
        }

        &:nth-child(2) {
            margin-top: 30px;
        }
    }
}

.challengesGame {
    z-index: 1;
    position: relative;
    
    &:after {
        position: absolute;
        content: '';
        top: 0px;
        left: 0px;
        background-size: contain;
        background-position: right;
        background-repeat: no-repeat;
        background-image: url('../../images/league-of-legends-background.png');
        height: 808.4px;
        z-index: 2;
        width: 100%;
    }

    &::before {
        position: absolute;
        content: '';
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        z-index: 3;
        opacity: 0.25;
        background-image: linear-gradient(to right, rgba(3, 6, 22, 0) 69%, #030616), linear-gradient(to bottom, rgba(3, 6, 22, 0), rgba(3, 6, 22, 0.02) 52%, #030616 97%), radial-gradient(circle at 56% 54%, rgba(3, 6, 22, 0), #030616 75%);
    }

    .carousel {
        .row:first-child {
            .col-lg-8 {
                >div {
                    >div:nth-child(2) {
                        display: none !important;
                    }
                }
            }
        }
    }

    .prize-item {
        .prize-logo {
            display: none;
        }

        .prize-game__name {
            span {
                display: flex;
            }
        }
    }

    .challenge-item__body-bg {
        svg image {
            display: none;
        }
    }
}
