.bottomBar {
  padding-top: 44px;
  position: relative;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);

  @media(max-width:400px) {
    padding-top: 32px;
  }

  &-bg {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    -webkit-filter: blur(10px);
    filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.05);
    top: 0px;
    left: 0px;
  }

  &-menu {
    display: flex;
    align-items: center;
    justify-content: center;

    @media(max-width: 575px) {
      flex-direction: column;
    }

    &__item {
      padding-bottom: 34px;
      font-size: 14px;
      line-height: 1.57;
      text-align: center;
      color: #ffffff;
      margin-left: 20px;
      margin-right: 20px;
      position: relative;
      transition: all 0.35s;
      text-transform: uppercase;

      @media(max-width: 575px) {
        font-size: 12px;
        margin-left: 10px;
        margin-right: 10px;
        padding-bottom: 20px;
      }

      &:hover {
        color: #f5bb0c;
      }

      &.active {
        font-weight: bold;

        &:after {
          position: absolute;
          content: "";
          background-color: #f5bb0c;
          width: 5px;
          height: 5px;
          bottom: 25px;
          border-radius: 50%;
          left: calc(50% - 2.5px);

          @media(max-width: 575px) {
            bottom: 12px;
          }
        }
      }
    }
  }
}
